#top_bar{
  display: flex;
  flex-direction:row;
  justify-content: flex-end;
  width: 100%;
  background-color: rgba(15, 15, 15, 0.8);
  padding: 20px 10px 50px 0px;
}


#btn_menu{
  display: block;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
  position: absolute;
}

@media screen and (max-width: 699px){
  nav{
    display:none;
  }
  .show{
    display: block;
  }
  .logo_left{
    align-self: flex-start;
    margin: 15px 0px 0px 15px;
  }
  #long_menu{
    display: none;
  }

}

@media screen and (min-width: 700px){
  nav{
    align-self: flex-end;
    display: block;
    max-width: 900px;
    width: 85%;
  }
  
  #btn_menu{
    display:none;
  }

  #top_bar{
    display: none;
  }

  .logo{
    align-self: flex-start;
    margin: 15px 0px 0px 15px;
  }

  .navigation_list{
    background-color: transparent;
    border: none;
  }

  .navigation_list:hover{
    background-color: transparent;
    color: var(--tertiary-color);
    border: none;
  }


}