.text_left{
  text-align: left;
}

.our_story{
  margin-bottom: 20px;
}

.profile_text_margin{
  margin: 0px 0px 0px 25px;
}

.profile_text_margin_left{
  margin: 0px 10px 0px 0px;
}

.profile_text_margin_right{
  margin: 0px 0px 0px 10px;
}

.profile_margin{
  margin-top: 30px;
}

.profile_pictures{
  border-radius: 50%;
  max-width: 130px;
  margin-bottom: 10px;
}

.image_section_background{
  background: linear-gradient(0deg,rgb(0, 0, 0, 0.9), rgba(54, 54, 54, 0.5)), url(../original_images/community.jpeg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 50px;
}

.image_section_text{
  margin: auto;
  color: white;
  border-radius: 2em;
  font-size: 1.5rem;
  border-bottom: none;
  max-width: 800px;
  font-weight: 300;
}

.image_section_title{
  font-size: 2rem;
  font-weight: bold;
}

.font_style_normal{
  font-weight: 300;
  font-size: 1.5rem;
}

.what_we_do_container{
  max-width: 1000px;
  margin: auto;
  padding-bottom: 50px;
}

.profile_paragraph_width{
  width: 95%;
}

.inner_profile_container{
  display:flex;
  flex-direction: row;
  align-items: center;
}



@media screen and (min-width:700px){
  .profile_container{
    display:flex;
    flex-direction: row;
    align-items: center;
  }

  .our_story{
    display: flex;
  }
  
}



@media screen and (max-width:700px){
  .profile_text_margin_left{
    margin: 0px 20px 20px 0px;
  }
  
  .profile_text_margin_right{
    margin: 0px 20px 0px 0px;
  }
  
}

